body {
    margin: 0;
    min-height: 100vh;
    background: #020617;
    background-image:
        linear-gradient(to right, rgba(71, 85, 105, 0.302) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(71, 85, 105, 0.3) 1px, transparent 1px),
        radial-gradient(circle at 50% 50%, rgba(139, 92, 246, 0.15) 0%, transparent 70%);
    background-size: 62px 62px, 62px 62px, 100% 100%;
    background-attachment: fixed;
    font-family: monospace;
}

.nav-bar {
    position: relative;
    background: #020617;
    background-image:
        linear-gradient(to right, rgba(71, 85, 105, 0.3) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(71, 85, 105, 0.3) 1px, transparent 1px),
        radial-gradient(circle at 50% 50%, rgba(139, 92, 246, 0.15) 0%, transparent 70%);
    background-size: 62px 62px, 62px 62px, 100% 100%;
    background-attachment: fixed;
    border-radius: 20px;
    padding: 15px 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.nav-bar::after,
.nav-bar::before {
    content: "";
    position: absolute;
    width: 95.5%;
    height: 100%;
    border-radius: inherit;
    background-image: conic-gradient(from var(--angle), #27a0c5, #27a0c5, #6100fd);
    z-index: -1;
    padding: 0px 0px;
    animation: animate 6s linear infinite;
}

.nav-bar::before {
    filter: blur(20px);
}

@property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

@keyframes animate {
    to {
        --angle: 360deg;
    }
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 1px;
}

.navbar {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.navbar li:hover {
    background: linear-gradient(90deg, #27a0c5, #d4a6ff, #8941fd);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about {
    margin-top: 80px;
    margin-left: 125px;
    max-width: 700px;
}

.about h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
}

.gradient-text {
    background: linear-gradient(90deg, #27a0c5, #d4a6ff, #8941fd);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.about p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: white;
}

hr {
    width: 90%;
    border: none;
    height: 2px;
    background: linear-gradient(90deg, #27a0c5, #d4a6ff, #8941fd);
    margin-top: 35px;
}

.skills {
    margin-top: 60px;
}

.skills h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    margin-left: 125px;
}

.skills-layout {
    display: flex;
    justify-content: center;
    gap: 180px;
    margin-bottom: 80px;
}

.box {
    position: relative;
    background: #020617;
    background-image:
        linear-gradient(to right, rgba(71, 85, 105, 0.3) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(71, 85, 105, 0.3) 1px, transparent 1px),
        radial-gradient(circle at 50% 50%, rgba(139, 92, 246, 0.15) 0%, transparent 70%);
    background-size: 62px 62px, 62px 62px, 100% 100%;
    background-attachment: fixed;
    border: none;
    border-radius: 25px;
    width: 590px;
    height: 240px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box.tech-tools {
    height: 340px;
}

.tech-tools {
    display: flex;
    margin: 0 auto;
}

.box::after,
.box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: conic-gradient(from var(--angle), #27a0c5, #27a0c5, #6100fd);
    z-index: -1;
    padding: 0px 0px;
    animation: animate 7s linear infinite;
}

.box::before {
    filter: blur(20px);
}

.box h2 {
    padding: 5px 20px;
    font-size: 1.2rem;
    color: white;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.icon-circle {
    background: linear-gradient(90deg, #27a0c5, #8941fd);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.2s;
    margin-bottom: 20px;
}

.icon-circle:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #27a0c5;
}

.icon-circle::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #27a0c5;
    padding: 5px 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out, tarnsform 0.2s ease-in-out;
    font-weight: bold;
}

.icon-circle:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(5px);
}

.icon-circle i {
    font-size: 56px;
}

.projects h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    margin-left: 125px;
}

.projects1 {
    display: flex;
}

.projects1 h2 {
    font-size: 2.4rem;
    margin: 20px;
}

#project-description {
    flex-grow: 1;
    color: white;
    font-size: 1.7rem;
    margin: 20px;
    line-height: 40px;
    max-width: 870px;
}

.phone-container {
    position: relative;
    display: inline-block;
}

.phone-img {
    margin-top: -210px;
    max-width: 750px;
    display: block;
}

.app-grid {
    position: absolute;
    top: 9%;
    left: 34.6%;
    width: 36%;
    height: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.app {
    text-align: center;
}

.app a {
    text-decoration: none;
    color: black;
}

.app-icon {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: linear-gradient(90deg, #27a0c5, #8941fd);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: all ease-in-out .2s;
    margin: 0 auto;
}

.app-icon:hover {
    transform: scale(1.1);
}

.app p {
    margin-top: 10px;
    color: white;

}

.contact h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    margin-left: 125px;
}